/* Cambiar título del admin */
#site-name a {
    content: "Nuserly System 1.0";
    font-weight: bold;
    font-size: 22px;
}

/* Header */
#header {
    background: #0f172a;
}

/* Botones */
.button, input[type=submit], input[type=button] {
    background: #2563eb !important;
    border-radius: 8px;
}

/* Fondo general */
body {
    background: #020617;
}